<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
        <title>GRUBLR</title>
		{% load staticfiles %}
		<link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="row-fluid">
			<div class="span4 offset4">
				<div class="container">
					<div class="IndexTitle">
						<p>GRUBLR</p>
					</div>


<!-- 		   		  {% ifequal logInError '1' %}
					<div class="WarnningForm">
						<p>User name or password is not correct</p>
					</div>
				  {% endifequal %} -->
					<div class="IndexForm" id="findPasswordForm" name="findPassword">
					    <form class="form-horizontal" action="/findPassword/" method="post">
				    	{% csrf_token %}

						  <div class="control-group">
						    <label class="control-label">UserName</label>
						    <div class="controls">
						      <input type="text" id="inputEmail" placeholder="UserName" name="userName">
						    </div>
						  </div>
					      <div class="control-group">
						    <div class="controls">
						      <button type="submit" class="btn" id="">Send Confirm Email</button>
						    </div>
						  </div>
						  <!-- <div id="welcomeLogo">Hello Mengyan Wang<div> -->
						</form>
					</div>



					<div class="IndexForm" id="welcomeForm">
						<div id="welcomeLogo"></div>
					</div>


					<div class="IndexFooterIcon">
						<p class="IndexFooterIconText">G</p>
					</div>
				</div>

				
			</div>
		</div>

		{% load staticfiles %}

		{% if reset %}
		<script type="text/javascript">
			alert("An confirm email has been sended to your email. Pleas check!");
			window.location.href="/";
		</script>
		{% endif %}
	    <script src="http://code.jquery.com/jquery.js"></script>
    	<script src="{% static "js/bootstrap.min.js" %}"></script>
    	<script src="{% static "js/custom.js"%}"></script>
    	<script src="{% static "js/ghostType.js"%}"></script>
    	<script src="{% static "js/callback.js"%}"></script>
    	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	</body>
</html>