{% extends "base.html" %}

{% block extraScript %}
<script>
	setInterval(checkNewGrumblr,10000);
</script>
{% endblock %}



{% block navButtonList %}
<li  class="active"><a href="/home/">home</a></li>
<li><a href="/profile/">profile</a></li>
<li><a href="/relationship/Followers/">relationship</a></li>
{% endblock %}

{% block contentTitle %}<p class="ContentTitle">Grumblr</p>{% endblock %}

{% block contentTop %}
<div class="GrumblrTextArea">
	<form action="/home/postGrumblr/" enctype="multipart/form-data" method="post" id="postGrumblrForm">
		{% csrf_token %}
		<textarea class="span12 TextArea" name="content" rows="4"></textarea>
		<div class="TextButtonList">
			<!-- <button class="btn" type="file"><i class="icon-camera"></i></button> -->
			<input type="file" name="grumblrImage"><!-- <i class="icon-camera"></i> -->
			<button type="submit" class="btn" id="postGrumblrButton">Grumblr</button>
		</div>
	</form>
</div>

<ul class="nav nav-pills GrumblrTagList">
	<li class="active">
		<!-- <a href="#">首页</a> -->
	</li>
	<li class="active">
		<a href="/home/all" >All</a>
	</li>
	<li class="active">
		<a href="/home/others">Friend</a>
	</li>
	<li class="active">
		<a href="/home/my">My</a>
	</li>								
</ul>
{% endblock %}


{% block contentMain %}
<div class="ContentMainContainer">
	<div class="GRUBLRContainer"> 
		<div class="RefreshBarContainer">
			<p class="RefreshBar"><i class="icon-refresh icon-spin"></i>new GRUBLR</p>
		</div>

		{% for grumblr in grumblrList %}
		<div class="SingleGRUBLRContainer">
			<div class="GrumblrMessageContainer">
				<div class="span2 AvatarContainer">
						{% load static %}
					<img src="{% url 'getAvatar' grumblr.owner.username %}" class="AvatarImage">
				</div>
				<div class="span10 GRUBLRMessage">
					<div class="MessageContainer">
						<ul>
							<li class="MessageTitle"><a href="/personalPage/{{grumblr.owner.username}}/">{{grumblr.owner.username}}</a></li>
							<li class="MessageText">{{grumblr.content}}</li>
							<li class="GrumblrId" style="display:none">{{grumblr.id}}</li>


							{% if grumblr.image %}
							<li><img src="{% url 'getGrumblrImage' grumblr.id %}" class="GrumblrImage" data-formerHeight="10" data-formerWidth="10" data-size="small"></li>
							<div class="ClearFloat"></div>
							{% else %}
							<li><img src="" class="GrumblrImage" data-formerHeight="10" data-formerWidth="10" data-size="small" style="display:none"></li>
							<div class="ClearFloat"></div>
							{% endif %}

							<li class="GrumblrPublishTime" style="display:none">{{grumblr.publishDateTime|date:"d-m-Y H:i:s"}}</li>
							<!-- <li class="MessageImage"><img src="{% static "img/test.jpg" %}"></li> -->
							<!-- style="display:none" -->
						</ul>
					</div>
					<div class="MessageToolbar">
						<a class="MessageToolbarItemLeft">Expand</a>
						<!-- <a href="#" class="MessageToolbarItemRight">Reply</a> -->
						<a href="#" class="MessageToolbarItemRight">   </a>
						<form method="post" action="/thumbUpGrumblr/" class="MessageToolbarItemRight">
							{% csrf_token %}
							<button type="submit" class="ThumbUpButton" name="grumblrId" value="{{grumblr.id}}">
								<i class="icon-thumbs-up"></i>({{grumblr.thumbUp}})
							</button>
						</form>
					</div>
					<div class="ClearFloat"></div>
				</div>
				<div class="ClearFloat">
				</div>
			</div>
			<div class="GrumblrReplyContainer">
				<div class="ReplyInputContainer">
					<div class="span12 ReplyContainer">
						<input type="text" class="form-control span12 ReplyInput" placeholder="Comment" >
						<i class="icon-paper-clip icon-large pull-left" style="margin-left:40px"></i>
						<button class="btn btn-small pull-right PostGrumblrCommentButton" type="button">Reply</button>
					</div>	
					<div class="ClearFloat">
					</div>
				</div>
				<div class="ReplyMessageSampleContainer" style="display:none">
					<div class="span2 AvatarContainer">
							{% load static %}
							<img class="SmallAvatarImage CommentUserAvatar" src="">
					</div>	
					<div class="span9 ReplyContainer">
						<p class="ReplyUser">wangmengyan95</p>
						<p class="ReplyContent">123</p>
					</div>	
					<div class="ClearFloat">
					</div>			
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}



{% block sidebarTop %}
<div class="ContentTopContainer">
	<div class="UserAvatarContainer">
		<div class="span4 UserAvatar">
			<ul>
				{% load static %}
				<!-- <li class="AvatarImage"><img src="{% static "img/test.jpg" %}"></li> -->
				<li class="AvatarImage"><img src="{% url 'getAvatar' user.username %}"></li>
			</ul>
		</div>
		<div class="span8 UserName">
			<p>{{user.username}}</p>
			<a href="/profile" class="ViewProfile">View My Profile</a>
		</div>
	</div>
	<div class="InformationList">
		<table>
			<tr>
				<td>{{Grumblrs}}<br><a href="/home/all">Grumblrs</a></td>
				<td class="MiddleTD">{{Followers}}<a href="/relationship/Followers"><br>Followers</a></td>
				<td>{{Followings}}<a href="/relationship/Followings"><br>Followings</a></td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}


{% block sidebarMain %}
<div class="FriendListContainer">
	<div class="FriendListTitle">
		<p>Who to follow?</p>
	</div>
	<div class="FriendList">
		{% for recommendFriend in recommendFriendList %}
		<div class="UserAvatarContainer">
			<div class="span4 UserAvatar">
				<ul>
					{% load static %}
					<!-- <li class="AvatarImage"><img src="{% static "img/test.jpg" %}"></li> -->
					<li class="AvatarImage"><img src="{% url 'getAvatar' recommendFriend.username %}"></li>
				</ul>
			</div>
			<div class="span8 UserName">
				<p>{{recommendFriend.username}}</p>
				<a href="/personalPage/{{recommendFriend.username}}"><button class="btn btn-success">Follow</button></a>
			</div>
		</div>
		{% endfor %}

		<div class="FriendListFooter">
			<p>More suggestions?</p>
		</div>
	</div>
</div>
{% endblock %}